page-media-buying{
  .sectiontitle{
    background-color: #eee;
      width: 116px;
      height: 70px;
      border-radius: 50%;
      font-size: large;
  }

  span{
    width: 200px;
    border:solid;
    border-width: thin;
  }

  .rowtitle{
    font-weight: bold;
  }
}
