page-media-buying{
  .sectiontitle{
    background-color: #eee;
      width: 116px;
      height: 70px;
      border-radius: 50%;
      font-size: large;
  }



  .rowtitle{
    font-weight: bold;
  }
}
